*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal;
    font-style: normal;
    font-family: Quicksand;
  }
  
  button{
    cursor: pointer !important;
  }

.popupStaticCon{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    z-index: 3;
}
    
.popupinnerPopupCon{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    border-radius: 10px;
    overflow-y: auto;
    width: 70%;
    flex-shrink: 0;
    
    padding-top: 15px;
    position: relative;
    z-index: 3;
    overflow-x: hidden;
    padding: 2%;
    max-width: 849px;
}

.popupHeadercon{
    display: flex;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    border-bottom: 1px solid #8DAEE0;
}

.popupHeadercon p{
    color: #000;
    font-size: 35px;
    font-weight: 600;
}

.popupHeadercon svg{
    cursor: pointer;
    width: 44px;
    height: 44px;
}

.groupPopuphrLine{
        height: 1px;
        width: 95%;
        border: none;
        border-bottom: 1.5px solid #799BD7;
        align-self: center;
        margin:auto;
        margin-bottom: 19px;
        margin-top: 19px;
}

.groupPopupHeading{
    color: #0575E6;
    font-size: 24px;
    font-weight: 600;
}

.popupDetailsClass{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.groupPopupDetailsClass{
    display: flex;
    justify-content: flex-start;
    align-items:flex-start;
    width: 80%;
    flex-direction: column;
    margin: auto;
    max-height: 80vh;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-right: 5px;
    max-width: 656px;
}

.createGroupBtn{
    border-radius: 8px;
    border: 2px solid #0575E6;
    background: #FFF;
    color: #0575E6;
    font-size: 24px;
    font-weight: 600;
    padding: 3px;
    margin-bottom: 19px;
}

.groupMemeberFieldCon{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.groupMemeberCrossIcon{
    align-self: flex-end;
    margin-bottom:-20px;
    cursor: pointer;
}

.groupMemeberCrossIcon svg{
    width: 20px;
    height: 20px; 
    position: relative;
    right: 15px;
    bottom: 38px;
}

.errorClass{
    border: 1.5px solid #F00;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
    
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #406C99; 
    border-radius: 10px;
    cursor: pointer;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(187, 187, 187); 
  }

.popupInputFieldLable{
    color: #213D58;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 600;
    align-self: flex-start;
}

.popupDetailsmiddleCon{
    /* max-width: 457px; */
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.chartTopFieldsCon{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin-top: 27px;
    margin-bottom :27px;
}

.chartTotalPrice{
    border-radius: 6px;
    border: 1px solid #0575E6;
    background: #FCFCFC;
    color: #3F3636;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 600;
    padding: 2px;
}

.chartTotalPrice span{
    color: #0575E6;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
}

.monthsDropdown{
    border-radius: 6px;
    border: none;
    border-bottom: 1px solid #0575E6;
    background: #FCFCFC;
    height: 40px;
    width: 172px;

    color: #3F3636;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 400;
    margin-left: auto;
    margin-right: 29px;
}

.monthsDropdown:focus{
    outline: none;
}

.chartTableMainCon{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.chartTableHeaderCon{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #EBF5FF;
}

.chartHearder{
    color: #0575E6;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 600;
    text-align: left;
    
}

.chartTableRowsMainCon{
    border-top: 1px solid #0575E6;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    padding-top: 15px;
    max-height: 250px;
    overflow-y: auto;
}

.chartTableRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.chartColumn{
    color: #242424;
    font-family: Quicksand;
    font-size: 26px;
    font-weight: 600;
    text-align: left;
}

.snoBox{
    width: 15%;
    padding: 5px;
}

.dateBox{
    width: 35%;
}

.spentBox{
    width: 25%;
}

.amountBox{
    width: 20%;
}

.chartPriceCrad{
    flex-direction: row;
    gap:5px
}

.setteleBtnBtnClass{
    border: none;
    background-color: transparent;
    color: #0575E6;
    font-family: Quicksand;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;
}

.priceCardLeftCard{
    align-self: flex-start;
    margin-right: auto;
    margin-left: 14px;
}

.popupPriveAndDateCon{
    display: flex;
    gap: 30px;
}

.loginInputPriceCon{
    max-width: 338px;
}

.loginInputDateCon{
    max-width: 234px;
}

@media only screen and (min-width: 600px) and (max-width: 1280px) {
    .popupinnerPopupCon{
        padding: 1%;
    }

    .popupHeadercon{
        padding-bottom: 5px;
    }

    .popupHeadercon p{
        font-size: 26px;
    }
    
    .popupHeadercon svg{
        cursor: pointer;
        width: 26px;
        height: 26px;
    }
    .popupInputFieldLable{
        text-align: left;
        font-size: 18px;
    }

    .popupPriveAndDateCon{
        gap: 20px;
    }
    
}

@media only screen and (max-width: 600px) {
    .popupinnerPopupCon{
        padding: 1%;
    }


    .popupHeadercon{
        padding-bottom: 5px;
    }

    .popupHeadercon p{
        font-size: 26px;
    }
    
    .popupHeadercon svg{
        cursor: pointer;
        width: 26px;
        height: 26px;
    }

    .popupInputFieldLable{
        text-align: left;
        font-size: 16px;
    }

    .popupPriveAndDateCon{
        gap: 0px;
        flex-direction: column;
    }
}
